<section class="module bg-dark-60 blog-page-header" data-background="assets/images/blog_bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Tinkerer's Lab Blog</h2>
        <div class="module-subtitle font-serif">Chronicles of past TL projects</div>
      </div>
    </div>
  </div>
</section>
<section class="module">
  <div class="container">
    <div class="row multi-columns-row post-columns">
      <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="blog in blogs">
        <div class="post">
          <div class="post-thumbnail"><img src="assets/images/post-1.jpg" alt="Blog-post Thumbnail"/></div>
          <div class="post-header font-alt">
            <h2 class="post-title"><a ui-sref="blog({blogId: blog._id})">{{ blog.name }}</a></h2>
            <div class="post-meta">By&nbsp;{{ blog.author }}&nbsp;| 23 November | 3 Comments
            </div>
          </div>
          <div class="post-entry">
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
          </div>
          <div class="post-more"><a class="more-link" ui-sref="blog({blogId: blog._id})">Read more</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="module">
  <div class="container">
    <div style="border-top: 1px dotted #c2c2c2;"></div>
    <div class="col-sm-9 col-sm-offest-3">
      <h3>Want to write a blog post on your project?</h3>
      <p>Contact us at tinkererslab@iith.ac.in</p>
    </div>
  </div>
</section>

<script src="assets/lib/jquery/dist/jquery.js"></script>
<script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/lib/wow/dist/wow.js"></script>
<script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="assets/lib/flexslider/jquery.flexslider.js"></script>
<script src="assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="assets/lib/smoothscroll.js"></script>
<script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>