<div class="page">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css">
    <p>{{ thread.title }}</p>
    <p>by {{ thread.author }} at {{ thread.createdAt }}</p>
    <p ng-bind-html="trustHtml(thread.content)"></p>
    <ul>
        <li ng-repeat="post in posts">
            <p ng-bind="post.content"></p>
            by {{ post.author }} at {{ post.createdAt | date }}
        </li>
    </ul>
    
    <h2>Reply</h2>
    <form ng-submit="createPost(post)">
        <input type="text" placeholder="Write your reply..." ng-model="post.content">
        <button type="submit">Post</button>
    </form>
</div>