
<section class="module">
	<div class="container">
		<div class="page">
			<h1 class="module-title font-alt">Topics</h1>
			<div class="row" ng-repeat="topic in topics" ui-sref="topic({topicId: topic._id})">
				<div class="col-xs-12 col-md-12 topic-text">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="module-title font-alt align-left"><a ui-sref="topic({topicId: topic._id})">{{ topic.name }}</a></h3>
							<div class="module-subtitle font-serif align-left" style="margin-bottom: 10px !important">{{ topic.description }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>