<section class="home-section home-full-height photography-page" id="home">
  <div class="hero-slider">
    <ul class="slides">
      <li class="bg-dark" style="background-image:url(&quot;assets/images/photography/image6.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
      <li class="bg-dark" style="background-image:url(&quot;assets/images/photography/image1.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
      <li class="bg-dark" style="background-image:url(&quot;assets/images/photography/image2.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
      <li class="bg-dark" style="background-image:url(&quot;assets/images/photography/image3.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
      <li class="bg-dark" style="background-image:url(&quot;assets/images/photography/image4.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
      <li class="bg-dark" style="background-image:url(&quot;assets/images/photography/image5.jpg&quot;);">
        <div class="container">
          <div class="image-caption">
            <div class="font-alt caption-text">Placeholder image</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="titan-caption" style="position: absolute !important; z-index: 30; top: 0px;">
    <div class="caption-content" style="color: #ffffff;">
      <div class="font-alt mb-20 titan-title-size-3">Tinkerer's Lab, IITH</div>
      <div class="font-alt mb-20 titan-title-size-1">Tinkerer's Lab is IITH's 24/7 student-run lab which is awesome, lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis ac ipsum id efficitur. Phasellus.</div><a class="section-scroll btn btn-border-w btn-round" href="#services">Learn More</a>
    </div>
  </div>
</section>

<section class="module" id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="module-title font-alt">Our Aim</h2>
        <div class="module-subtitle font-serif" style="margin-bottom: 5px !important;">Innovation is the outcome of a habit, not a random act.</div>
        <div class="module-subtitle">Here, at Tinkerer's Lab, our aim is to provide you with an open facility with a vast range of tools in order to bring out the inner tinkerer in you.</div>
      </div>
    </div>
    <div class="row multi-columns-row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-clock"></span></div>
          <h3 class="features-title font-alt">Always Available</h3>
          <p>We know that the best ideas don't always come to us during work hours. Tinkerer's Lab is open 24/7, giving you the liberty to build and innovate whenever.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-lightbulb"></span></div>
          <h3 class="features-title font-alt">Transparency of Ideas</h3>
          <p>Our Portal not only keeps a track of every single project in Tinkerer's Lab, it also has a section dedicated to sharing ideas, making collaboration and inspiration easy.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-tools-2"></span></div>
          <h3 class="features-title font-alt">Resources</h3>
          <p>We have a wide variety of resources, from the commonplace Raspberry Pis and drills to CNC Machines and 3D Printers. You can also request advice from any proffessor directly from our portal.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-chat"></span></div>
          <h3 class="features-title font-alt">TL Talks</h3>
          <p>From time to time, TL will host talks and sessions by innovators and entrepreneurs to help develop interest in new fields and push boundaries.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="module" id="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Latest Blog Posts</h2>
        <div class="module-subtitle">Here's a collection of blog posts that document the most recent projects finished at Tinkerer's Lab.</div>
      </div>
    </div>
    <div class="row multi-columns-row post-columns">
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="post mb-20">
          <div class="post-thumbnail"><a href="#"><img src="assets/images/work-1.jpg" alt="Blog-post Thumbnail"/></a></div>
          <div class="post-header font-alt">
            <h2 class="post-title"><a href="#">As Cool As Keyboards Can Get</a></h2>
            <div class="post-meta">By&nbsp;<a href="#">Tom</a>&nbsp;| 23 November | 3 Comments
            </div>
          </div>
          <div class="post-entry">
            <p>I recently decided to get myself a mechanical keyboard. I looked everywhere I could, but no retail keyboard I could find was right for me - either the layout was wrong, or they didn't come in...</p>
          </div>
          <div class="post-more"><a class="more-link" href="#">Read more</a></div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="post mb-20">
          <div class="post-thumbnail"><a href="#"><img src="assets/images/work-2.jpg" alt="Blog-post Thumbnail"/></a></div>
          <div class="post-header font-alt">
            <h2 class="post-title"><a href="#">How many R-Pis are enough?</a></h2>
            <div class="post-meta">By&nbsp;<a href="#">Andy River</a>&nbsp;| 11 November | 4 Comments
            </div>
          </div>
          <div class="post-entry">
            <p>What do you do when you need a machine that is more powerful than a single R-Pi, but not as powerful as a full PC? You put together as many R-Pis as you want. This is the account of how I built a cluster of...</p>
          </div>
          <div class="post-more"><a class="more-link" href="#">Read more</a></div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="post mb-20">
          <div class="post-thumbnail"><a href="#"><img src="assets/images/work-3.jpg" alt="Blog-post Thumbnail"/></a></div>
          <div class="post-header font-alt">
            <h2 class="post-title"><a href="#">My door has a fingerprint sensor on it</a></h2>
            <div class="post-meta">By&nbsp;<a href="#">Dylan Woods</a>&nbsp;| 5 November | 15 Comments
            </div>
          </div>
          <div class="post-entry">
            <p>Using fingerprints for authentication in the real world is not only safe, it's also convenient. Imagine a life where you can leave your keys behind and never worry about anything leaving your room.</p>
          </div>
          <div class="post-more"><a class="more-link" href="#">Read more</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="assets/lib/jquery/dist/jquery.js"></script>
<script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/lib/wow/dist/wow.js"></script>
<script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="assets/lib/flexslider/jquery.flexslider.js"></script>
<script src="assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="assets/lib/smoothscroll.js"></script>
<script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>